<doctype html>
<html lang="en">
    <head>
        <title>beginning.handlebars</title>
    </head>
    <body>
        {{{I was watching TV with Mark, WHen suddenly}}}
    </body>
    <a href="http://:middle.handlebars"><Middle></a>
    <a href="http://:end.handlebars"><End></a>
</html>
