<!DOCTYPE html>
<html lang= "en">
    <head>
        <title> middle.handlebars</title>
    </head>
    <body>
        {{{a breaking news alert showe a Liama running on the freeway}}}
    </body>
        <a href=/"end.handlebars"><end></a>
        <a href="/beginning.handlebars"><beginning></a>

</html>